.userInfo {
  min-width: 300px;
}
.userInfo img {
  width: 230px;
  height: 230px;
  border-radius: 5px;
}
.userInfo h3{
  font-size:26px;
  margin: 10px 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}
.userInfo button {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #e9ecef;
  border: 1px solid rgba(27,31,35,.35);
  padding: 6px 12px;
  border-radius:.25em;
  width: 230px;
  margin:5px 0;
  /* box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,.15); */
  color:#24292e;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
}
